:root {
  --main-bg-color: #ffcb05;
  --header-bg-color: #0e6ffd;
  --search-result-bg-color: #f5e7ac;
  --main-text-color: black;
  --main-card-header-color: #2a75bb;
  --card-border-radius: 25px;

  /* fonts */

  --fs-text: calc(1rem + 0.8vw);
  --fs-rule: calc(3.5rem + 0.8vw);
}

#root {
  min-height: 100vh;
  min-height: 100dvh;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* Header */

.headerContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--header-bg-color);
  margin-bottom: 3rem;
}

.img-bg {
  background: var(--header-bg-color);
}
.searchResultsList {
  position: absolute;
  z-index: 999;
}
.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin: auto;
  padding-bottom: 0.5rem;
}
#searchPokemon {
  display: flex;
  color: black;
  height: 25px;
  width: 50vw;
  margin: 15px auto 15px auto;
}

.dataResult {
  z-index: 100;
  position: absolute;
  margin-top: -5px;
  padding: 10px;
  width: 50vw;
  max-height: 150px;
  background-color: var(--search-result-bg-color);
  box-shadow: rgba(0, 0, 0, 0.35);
  overflow: hidden;
  overflow-y: hidden;
  overflow-y: auto;
  margin-left: 25vw;
  border-radius: 5px;
  text-decoration: none;
  top: -63px;
}

.navbar-items {
  display: flex;
  flex-direction: column;
  margin-top: 0.7rem;
}

@media (min-width: 640px) {
  .headerContainer {
    flex-direction: row;
  }
  .logo {
    scale: 1.1;
    margin-left: 10px;
  }
  .navbar-items {
    margin-top: 0;
    padding: 1rem;
  }
  .dataResult {
    left: 148px;
    top: -82px;
  }
}
/* Body */

.poke-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainTitle {
  margin-bottom: 3rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100vw;
  height: fit-content;
}

/* Footer  */
footer {
  background: #0e6ffd99;
  margin-top: 3rem;
  max-width: 100vw;
}
.footer-copyright {
 
}

/*  start page with rules and random pokemons */

.start-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

@media (min-width: 640px) {
  .start-page {
    flex-direction: row;
    width: 80%;
  }
  .main-container {
    height: auto;
  }
}

.start-page_col {
  width: 80%;
}

.start-page_pokemons {
  display: grid;
  place-items: center;
}

a.pokemon-to-choose:nth-child(2) {
  margin-top: 1rem;
}
.start-btn {
  margin: 0.5rem;
}

.rules {
  font-weight: bold;
  color: var(--header-bg-color);
  text-align: center;
  font-size: var(--fs-rule);
}

.rules-item {
  margin: 0.3em;
  font-size: var(--fs-text);
}
/* pokemon list to chose */

.pokemon-to-choose {
  display: block;
  background: var(--main-bg-color);
  margin: 5px;
  padding: 0.5em 1em;
  color: var(--header-bg-color);
  font-size: var(--fs-text);
  width: 70%;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
}
/* Single Pokemon Card*/
.single-card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.card.one-poke-card {
  width: 75%;
  border-radius: var(--card-border-radius);
  border: 5px solid var(--main-bg-color);
  max-width: 500px;
  margin-bottom: 1rem;
}
.one-poke-card > div:nth-child(2) {
  flex-direction: column;
}
@media (min-width: 640px) {
  .one-poke-card > div:nth-child(2) {
    max-width: 500px;
  }
}
@media (min-width: 920px) {
  .one-poke-card > div:nth-child(2) {
    flex-direction: row;
  }
}

.one-poke-card > div:nth-child(2) > div:nth-child(1) {
  align-self: center;
}

#one-poke-header {
  display: flex;
  justify-content: center;
  color: var(--main-bg-color);
  font-size: 3rem;
  background: #0e6ffd;
  border-radius: 20px 20px 0 0;
}

#one-poke-header > h2 {
  font-weight: bold;
}

.one-poke-skills {
  display: flex;
  justify-content: center;
  color: var(--main-card-header-color);
  font-size: 1.5rem;
}

.list-group-item.one-poke-item {
  display: flex;
  justify-content: center;
  opacity: 0.5;
  font-weight: bold;
}

.pokelist {
  border-radius: var(--card-border-radius);
}

.one-poke-fight {
  display: flex;
  justify-content: center;
  color: red;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  background: var(--header-bg-color);
  border-radius: 0 0 20px 20px;
}

.one-poke-fight:hover {
  color: black;
  font-weight: bold;
  background: #e76655;
}

/* Poke Arena */

div.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.poke-fight-photo {
  display: flex;
  flex-direction: row;
  width: 40%;
  border-radius: var(--card-border-radius);
  margin: 5rem;
}

.VS {
  font-size: xx-large;
  font-weight: bolder;
  color: red;
}

.matchCards {
  display: flex;
  width: 80vw;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.arena-result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 640px) {
  .matchCards {
    flex-direction: row;
  }
}

.resultBtn {
  padding: 10px;
  background-color: var(--header-bg-color);
  color: white;
  border-radius: 3px;
  box-shadow: 5px 10px 18px #888888;
  margin: 49px;
  cursor: pointer;
}

.arenaTitle {
  color: var(--header-bg-color);
  font-weight: bold;
  margin-bottom: 50px;
}
.matchResult {
  color: var(--header-bg-color);
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 50px;
  margin-inline: 2rem;
}

@media (max-width: 425px) {
  /* .navbar-items {
    display: flex;
    flex-direction: column;
  } */
  /* .poke-footer {
    margin-top: 20rem;
  } */
  /* .card.one-poke-card {
    width: 80%;
  } */
}
