:root {
  --main-bg-color: #ffcb05;
  --header-bg-color: #0e6ffd;
  --search-result-bg-color: #fee995;
  --main-text-color: black;
  --main-card-header-color: #2a75bb;
  --card-border-radius: 25px;
}

/* Header */

.headerContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--header-bg-color);
}
.searchResultsList {
  position: absolute;
  z-index: 999;
}
#searchPokemon {
  display: flex;
  color: black;
  height: 25px;
  width: 50vw;
  margin: 15px auto 15px auto;
}

.dataResult {
  z-index: 100;
  position: absolute;
  margin-top: -5px;
  padding: 10px;
  width: 50vw;
  max-height: 150px;
  /* height: 170px; */
  background-color: var(--search-result-bg-color);
  box-shadow: rgba(0, 0, 0, 0.35);
  overflow: hidden;
  overflow-y: hidden;
  overflow-y: auto;
  margin-left: 25vw;
  border-radius: 5px;
  text-decoration: none;
}

.navbar {
  margin-bottom: 5rem;
}

/* Body */

.poke-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 2rem 0rem 5rem 0rem; */
}
.mainTitle {
  margin-bottom: 2rem;
}

.main-container {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Footer  */

.poke-footer {
  /* position: fixed; */
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

/* All Pokemon Slider*/

.poke-slider {
  background-color: var(--main-bg-color);
  border-radius: var(--card-border-radius);
  width: 50%;
  padding: 1rem;
}

.poke-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poke-photo {
  width: 50%;
  border-radius: var(--card-border-radius);
  margin-bottom: 1rem;
}

.poke-links {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  margin-top: 1rem;
}

.poke-info {
  color: #3c5aa6;
  text-decoration: none;
  padding: 10px;
}

.poke-info:hover {
  font-weight: bold;
}

.poke-fight {
  color: red;
  text-decoration: none;
}

.poke-fight:hover {
  color: red;
  font-weight: bold;
}

/* Single Pokemon Card*/

.card.one-poke-card {
  width: 50%;
  border-radius: var(--card-border-radius);
  border: 5px solid var(--main-bg-color);
  background-image: url("https://images.pexels.com/photos/1716861/pexels-photo-1716861.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-repeat: no-repeat;
  background-size: cover;
}

.one-poke-header {
  display: flex;
  justify-content: center;
  color: var(--main-card-header-color);
  font-size: 3rem;
}

.one-poke-skills {
  display: flex;
  justify-content: center;
  color: var(--main-card-header-color);
  font-size: 1.5rem;
}

.list-group-item.one-poke-item {
  display: flex;
  justify-content: center;
  opacity: 0.5;
  font-weight: bold;
}

.pokelist {
  border-radius: var(--card-border-radius);
}

.one-poke-fight {
  display: flex;
  justify-content: center;
  color: red;
  text-decoration: none;
  font-size: 2rem;
  margin-top: 2rem;
}

.one-poke-fight:hover {
  color: red;
  font-weight: bold;
}

/* Poke Arena */

.poke-fight-photo {
  display: flex;
  flex-direction: row;
  width: 40%;
  border-radius: var(--card-border-radius);
  margin: 5rem;
}

/* All Poke Carousel */

/* @media (max-width: 768px) {
  .navbar {
    margin-bottom: 6rem;
   }
  .poke-slider {
    width: 70%;
  }
  .poke-items {
    padding: 0.5rem
  }
  .poke-photo {
    width: 70%;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .poke-links {
    padding: 0rem;
    margin-top: 0rem;
  }
  .poke-info {
    font-size: 2rem;
  }
  .poke-fight {
    font-size: 2rem;
  }
} */

/* @media (max-width: 425px) {
  body {
    display: flex;
  }
  .mainTitle {
    margin-top: 20rem;
    font-size: 2.5rem;
  }
  .poke-footer {
    margin-top: 20rem;
  }
  .poke-slider {
    width: 80%;
  }
  .poke-name {
    font-size: 3rem;
  }
  .poke-photo {
    width: 80%;
  }
  .poke-info {
    font-size: 2.5rem;
  }
  .poke-fight {
    font-size: 2.5rem;
  }
} */

/* One Poke Card */
/* @media (max-width: 768px) {

} */

/* @media (max-width: 425px) {
  .card.one-poke-card {
    width: 80%;
  }
  .poke-footer {
    margin-top: 10rem;
  }
} */
